body{
    background-color: #c6d4d9;
    margin: 0%;
}

#backHome{
    margin-left:15%;
    padding: 5px;
    background-color: #471aa0;
    color: white;
    margin-bottom: 0;
    margin-top: 10px;
    border-radius: 15px;
    padding-right: 20px;
    padding-left: 20px;
    border: none;
}

#header {
    display: flex;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
    border-bottom: 1px gray solid;
    background-color: white;
}

#header > :nth-child(2){
    width: 100%;
    text-align: center;
}

#header ~ p{
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    
}

#container{
    padding-right: 15%;
    padding-left: 15%;
    position: relative;
}

.card{
    display: flex;
   border: solid; 
   padding: 20px;
   margin-bottom: 20px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   border-radius: 15px;
   background-color: white;
}

.text{
    padding: 10px;
    padding-left: 30px;
    padding-top: 5px;
}

.innerdiv >:nth-child(3){
    padding-bottom: 0;
}

 button{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
    border-radius: 15px;
    border: none;
    background-color: #471aa0;
    color: white;
    font-size: x-large;
}

.removebtn {
    padding-top: 130px;
    justify-content: center;
    /* border: solid; */
    position: absolute;
    right: 17%;
}
